body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #E1E5EE;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

.container {
    max-width: 1600px;
    margin: 200px auto 0;
}

.tab {
    flex: 1;
    flex-grow: 1;
    padding: 32px; 
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    background-color: #2A324B;
    margin-right: 20px; 
    font-weight: 1000; 
    font-size: 24px;
    color: white; 
}

.tab:last-child {
    margin-right: 0; 
    flex-grow: 1.6;
}

.tabs {
    display: flex;
    background-color: #E1E5EE; 
    overflow: hidden; 
}

.tab-content {
    display: none;
    padding: 90px;
    padding-left: 90px; 
    font-size: 22px; 
}

.tab-content.show {
    display: block;
    background-color: #fff;
}

.tab.active {
    background-color: #ffffff;
    color: #2A324B; 
}
